@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: white;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-poppins);
    background-color: #444444;
    position: relative;
}

/*HEADER*/
header {
    width: calc(100% - 15%);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(152,245,052,.3);
    position: fixed;
    top: 0;
    left: 15%;
}
h1 {
    width: 40px;
    height: 40px;
    overflow: hidden;
}
#logo {
    width: 30px;
    height: auto;
}
#user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(54,54,54,.85);
    padding: 5px 15px 5px 5px;
    border-radius: 30px;
}
.user-img{ 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: #555;
    border-radius: 40px;
}
#user-name {
    font-size: 14px;
}

/*MENU*/
#menu{
    display: flex;
    flex-flow: column;
    color: white;
}
.menu-item{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgba(255,255,255,.8);
    background-color: transparent;
    font-family: var(--font-poppins);
    font-weight: bold;
    text-align: left;
    border: none;
    outline: none;
}
.menu-item:hover {
    cursor: pointer;
    color: rgba(255,255,255,1);
}
.menu-item:focus, .onfocus{
    color: rgba(255,255,255,1);
    background-color: rgba(255, 255, 255, .4);
}
#other #user-name{
    width: 90%;
    padding: 8px 20px;
    margin: 0 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #111;
}
#other #user-name::placeholder{
    color:rgba(150,150,150,1);
}

/*ASIDE*/
.aside{    
    height: 100%;
    background-color: black;
}
#aside-izq{
    width: 15%;
    height: calc(100% - 80px);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    color: white;
}
#aside-der{
    width: 35%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    color: white;
    overflow: scroll;
}
/*ASIDE IZQUIERDO*/
#aside-izq nav {
    height: 30%;
}
#aside-izq #playlist-bar-wrap {
    height: 50%;
}
#aside-izq #devices-wrap {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #888; 
}
#aside-izq #devices{
    display: flex;
    justify-content: flex-start;
}
#aside-izq .device {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0;
    color: rgba(255, 255, 255, .5);
}
#aside-izq .device .material-icons {
    font-size: 32px;
}
#aside-izq .device .nombre {
    text-align: center;
    font-size: 12px;
}
/*ASIDE DERECHO*/
#aside-der footer{
    width: 100%;
    height: 100px;
}

/*CANCIONES*/
.song {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 8px;
    color: white;
}
.song:hover {
    background-color: rgba(255, 255, 255, .2);
}
.song .img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.song .img img {
    width: 35px;
    height: auto;
}
.song .data {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    font-size: 12px;
    margin-right: 10px;
    overflow: hidden;
}
.song .data .name {
    width: 100%;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.song .data .artists {
    font-weight: 300;
}
.song .acciones {
    height: 35px;
    width: 40px;
}
.song .acciones .span {
    cursor: pointer;
}
/*MAIN*/
.main {
    height: calc(100% - 80px);
    padding: 70px 0;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(136,136,136,1) 20%, rgba(50,50,50,1) 100%);
    /* padding-left: calc(20% + 50px);
    padding-right: calc(20% + 50px); */
    overflow: scroll;
    z-index: -1;
}
#centro {
    width: 100%;
    padding: 40px;
}
.centro-wrap{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
footer{
    width: 100%;
    height: 50px;
}

/*REPRODUCTOR*/
#reproductor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #222;
    position: fixed;
    bottom: 0;
    left: 0;
}
.repAlgo {
    width: 40%;
}
#actual {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 20px;
}
#actual #currentImg {
    margin-right: 10px;
    border-radius: 5px;
}
#actual #nombre {
    font-size: 16px;
}
#actual #artista {
    font-size: 12px;
}
#botones #play-pause {
    border: none;
    border-radius: 50%;
    padding: 7px 8px;
    background-color:rgba(255, 255, 255, .9);
    margin-right: 5px;
}
#botones #play-pause:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 1);
    transform: scale(1.1); 
}
#botones .btn-rep {
    background-color: transparent;
    border: none;
    color:rgba(255, 255, 255, .4);
    margin-right: 5px;
}
#botones .btn-rep:hover {
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
}
.botones-icon {
    font-size: 48px;
    margin: 2px;
    color: #ccc;
}
.botones-icon:hover {
    color: white;
}

.btn {
    border: 1px solid rgba(255,255,255,.75);
    padding: 5px 10px;
    border-radius: 7px;
}
.btn:hover {
    border: 1px solid rgba(255,255,255,1);
}
#songImg {
    width: 200px;
    height: auto;
}

/*PLAYLIST*/
#playlist-bar-wrap {
    border-top: 1px solid rgba(80,80,80,1);
    overflow: scroll;
}
.playlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: rgba(255,255,255,.7);
    overflow: hidden;
}
.playlist:hover{
    color: rgba(255,255,255,1);
}
.playlist .name {
    font-size: 12px;
}
.playlist .material-icons-outlined{
    font-size: 20px;
}
