@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-poppins);
    background-color: #444444;
    position: relative;
}
/*HEADER*/
header {
    width: calc(100% - 40%);
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    background-color: rgba(152,245,052,.3);
    position: fixed;
    top: 0;
    left: 20%;
}
h1 {
    width: 40px;
    height: 40px;
    overflow: hidden;
}
#logo {
    width: 30px;
    height: auto;
}
#user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(54,54,54,.85);
    padding: 5px 15px 5px 5px;
    border-radius: 30px;
}
.user-img{ 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: #555;
    border-radius: 40px;
}
#user-name {
    font-size: 14px;
}

/*MENU*/
#menu{
    display: flex;
    flex-flow: column;
    color: white;
}
.menu-item{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgba(255,255,255,.8);
    background-color: transparent;
    font-family: var(--font-poppins);
    font-weight: bold;
    text-align: left;
    border: none;
    outline: none;
}
.menu-item:hover {
    cursor: pointer;
    color: rgba(255,255,255,1);
}
.menu-item:focus, .onfocus{
    color: rgba(255,255,255,1);
    background-color: rgba(255, 255, 255, .4);
}
#other #user-name{
    width: 90%;
    padding: 8px 20px;
    margin: 0 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #111;
}
#other #user-name::placeholder{
    color:rgba(150,150,150,1);
}

/*ASIDE*/
.aside{
    width: 20%;
    height: 100%;
    background-color: black;
}
#aside-izq{
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 10px 20px;
}
#aside-der{
    width: 35%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    overflow: scroll;
}
/*CANCIONES*/
.song {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
}
.song .img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.song .img img {
    width: 35px;
    height: auto;
}
.song .data {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    font-size: 12px;
    margin-right: 10px;
}
.song .data .name {
    font-weight: 500;
}
.song .data .artists {
    font-weight: 300;
}
.song .acciones {
    height: 35px;
    outline: 1px solid blueviolet;
}
/*MAIN*/
.main {
    /* width: calc(100% - 40%); */
    height: calc(100% - 80px);
    /* position: absolute;
    top: 0;
    left: 20%; */
    padding: 70px 0 150px;
    padding-left: calc(20% + 50px);
    padding-right: calc(20% + 50px);
    overflow: scroll;
    z-index: -1;
}
#centro {
    width: 100%;
    padding: 40px;
}
.centro-wrap{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
footer{
    width: 100%;
    height: 50px;
}

/*REPRODUCTOR*/
#reproductor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #222;
    position: fixed;
    bottom: 0;
    left: 0;
}
.repAlgo {
    width: 40%;
}
#actual {
    color: white;
    padding-left: 20px;
}
#actual #nombre {
    font-size: 16px;
}
#actual #artista {
    font-size: 12px;
}

.botones-icon {
    font-size: 48px;
    margin: 2px;
    color: #ccc;
}
.botones-icon:hover {
    color: white;
}

.btn {
    border: 1px solid rgba(255,255,255,.75);
    padding: 5px 10px;
    border-radius: 7px;
}
.btn:hover {
    border: 1px solid rgba(255,255,255,1);
}
#songImg {
    width: 200px;
    height: auto;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*PLAYLIST*/
.playlist {
    width: 400px;
    height: 100px;
    background-color: rgba(110,110,110,.8);
    border-radius: 5px;
    box-shadow: 0 5px 20px 1px black;
    display: flex;
    margin-right: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}
.playlist:hover{
    cursor: pointer;
}
.playlist img {
    width: 100px;
    height: 100%;
    background-color: #1db954;
}
.playlist .data {
    width: calc(100% - 100px);
    height: 100%;
}

.playlist .data-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding: 2px 10px;
    color: white;
}
.playlist .name {
    font-size: 16px;
}
.playlist .data-footer{
    height: calc(100% - 70px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
}
.playlist .cantidad {
    font-size: 13px;
}