@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    
    --aside-izq-width: 17%;
    --aside-der-width: 17%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: white;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-poppins);
    background-color: rgba(20,20,20,1);
    position: relative;
    z-index: -2;
}

/*HEADER*/
header {
    width: calc(100% - var(--aside-izq-width) - var(--aside-der-width));
    /* width: calc(100% - var(--aside-izq-width)); */
    height: 80px;
    display: grid;
    grid-template-columns: 40px auto auto;
    gap: 20px;
    align-content: center;
    padding: 0 20px;
    background-color: rgba(35,61,96,1);
    position: fixed;
    top: 0;
    left: var(--aside-izq-width);
    overflow:auto;
}
h1 {
    width: 40px;
    height: 40px;
    overflow: hidden;
}
#logo {
    width: 30px;
    height: auto;
}
#buscar {
    position: relative;
    visibility: hidden;
}
#buscar input {
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}
#buscar input:focus {
    outline: none;
}
#buscar span[class='material-icons'] {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}
#user {
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(18,18,18,1);
    padding: 5px 15px 5px 5px;
    border-radius: 30px;

}
.user-img{ 
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color:rgba(51,51,51,1);
    border-radius: 40px;
}
#user-name {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*MENU*/
#menu{
    display: flex;
    flex-flow: column;
    color: white;
    padding-bottom: 10px;
}
.menu-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgba(255,255,255,.6);
    background-color: transparent;
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 12px;
    border: none;
}
.menu-item:hover {
    cursor: pointer;
    color: rgba(255,255,255,1);
    transition: color .2s ease-out;
}
.menu-item:focus, .onfocus{
    color: rgba(255,255,255,1);
    background-color: rgba(40,40,40,.8);
}
.menu-item .material-icons {
    margin-right: 10px;
    font-size: 32px;
    font-weight: 100;
}
/*ASIDE*/
.aside{    
    height: 100%;
    background-color: black;
}
#aside-izq{
    width: var(--aside-izq-width);
    height: calc(100% - 80px);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    color: white;
}
#aside-der{
    width: var(--aside-der-width);
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    overflow: scroll;
}
/*ASIDE IZQUIERDO*/
#aside-izq #user-playlists {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #888; 
}
/* #aside-izq #devices{
    display: flex;
    justify-content: flex-start;
}
#aside-izq .device {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0;
    color: rgba(255, 255, 255, .5);
}
#aside-izq .device .material-icons {
    font-size: 32px;
}
#aside-izq .device .nombre {
    text-align: center;
    font-size: 12px;
} */
/*ASIDE DERECHO*/
#aside-der footer{
    width: 100%;
    height: 100px;
}

/*CANCIONES*/
.song {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 8px;
    color: white;
}
.song:hover {
    background-color: rgba(255, 255, 255, .2);
}
.song .img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.song .img img {
    width: 35px;
    height: auto;
}
.song .data {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    font-size: 12px;
    margin-right: 10px;
    overflow: hidden;
}
.song .data .name {
    width: 100%;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.song .data .artists {
    font-weight: 300;
}
.song .acciones {
    height: 35px;
    width: 40px;
}
.song .acciones .span {
    cursor: pointer;
}
/*MAIN*/
.main {
    width: calc(100% - var(--aside-izq-width) - var(--aside-der-width));
    position: absolute;
    top: 0;
    left: var(--aside-izq-width);
    background: rgba(20,20,20,1);
    background: linear-gradient(180deg, rgba(35,61,96,1) 0%, rgba(20,20,20,1) 25%);
    /* background: linear-gradient(180deg, rgba(35,61,96,1) 0%, rgba(20,20,20,1) 5%); */
    padding-top: 80px;
    padding-bottom: 40px;
    overflow: scroll;
    z-index: -1;
}
.main .titulo {
    font-size: 32px;
    color: rgba(255,255,255,1);
}
.centro-wrap{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
footer{
    width: 100%;
    height: 50px;
}

/*REPRODUCTOR*/
#reproductor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba(24,24,24,1);
    position: fixed;
    bottom: 0;
    left: 0;
}
.repAlgo {
    width: 40%;
}
#actual {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 20px;
}
#actual #currentImg {
    margin-right: 10px;
    border-radius: 5px;
}
#actual #nombre {
    font-size: 16px;
}
#actual #artista {
    font-size: 12px;
}
#botones #play-pause {
    border: none;
    border-radius: 50%;
    padding: 7px 8px;
    background-color:rgba(255, 255, 255, .9);
    margin-right: 5px;
}
#botones #play-pause:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 1);
    transform: scale(1.1); 
}
#botones .btn-rep {
    background-color: transparent;
    border: none;
    color:rgba(255, 255, 255, .4);
    margin-right: 5px;
}
#botones .btn-rep:hover {
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
}
.botones-icon {
    font-size: 48px;
    margin: 2px;
    color: #ccc;
}
.botones-icon:hover {
    color: white;
}

.btn {
    border: 1px solid rgba(255,255,255,.75);
    padding: 5px 10px;
    border-radius: 7px;
}
.btn:hover {
    border: 1px solid rgba(255,255,255,1);
}
#songImg {
    width: 200px;
    height: auto;
}

/*PLAYLIST*/
#aside-izq #playlist-bar-wrap {
    border-top: 1px solid rgba(80,80,80,1);
    overflow: scroll;
}
#aside-izq .playlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: rgba(255,255,255,.7);
    overflow: hidden;
}
#aside-izq .playlist:hover{
    color: rgba(255,255,255,1);
}
#aside-izq .playlist .name {
    font-size: 12px;
}
#aside-izq .playlist .material-icons-outlined{
    font-size: 20px;
}

/*PLAYLIST MAIN*/
.main  #playlist-xl {
    width: 100%;
    padding: 10px;
    /* outline: 1px solid red; */
}
#playlist-xl .header {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    padding: 0 8%;
    /* outline: 1px solid green; */
}
#playlist-xl .header img{
    width: 250px;
    height: 250px;
    background-color: lightcoral;
}
#playlist-xl .header .datos {
    width: 100%;
    margin: 20px;
    color: rgba(255,255,255,1);
}
#playlist-xl .header .datos h2{
    font-size: 36px;
}
#playlist-xl .header span {
    font-size: 12px;
} 
.main .lista-playlist{
    margin: 20px 0 0;
}
.main .lista-playlist .track {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 5px 10px;
    color: rgba(255,255,255,1);
}
.main .lista-playlist .track{
    color: rgba(255,255,255,.7);
}
.main .lista-playlist .track:hover{
    color: rgba(255,255,255,1);
    background-color: rgba(40,40,40,.3);
}
.main .lista-playlist img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: lightcoral;
}
.main .lista-playlist h3 {
    font-size: 12px;
}
.main .lista-playlist h4 {
    font-size: 8px;
}
#playlist-xl .header .datos button {
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    background-color: rgba(29,185,84,1);
    color: rgba(255, 255, 255, 1);
}
#playlist-xl .header .datos button:hover {
    cursor: pointer;
    background-color: rgba(29,185,84,.8);
}


/*ASIDE-DER*/
#aside-der {
    padding: 0 5px;
}
#aside-der #header {
    padding: 10px 20px;
}
#aside-der #tracks-container {
    padding: 5px;
}
#aside-der .playlist {
    padding: 5px;
    margin-bottom: 5px;
}
#aside-der .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid white;
    padding: 5px;
    background: rgba(20,20,20,1);
    background: linear-gradient(90deg, rgba(255,190,11,.8) 0%, rgba(20,20,20,1) 75%);
}
#aside-der .top-bar div{
    display: flex;
}
#aside-der .top-bar .nro_tracks {
    font-weight: 300;
    font-size: 12px;
    padding: 5px 7px;
    margin-right: 15px;
    background-color: rgba(255,190,11,.2);
    border-radius: 100%;
}
#aside-der .track {
    width: 100%;
    display: grid;
    grid-template-columns: calc(90% - 10px) 10%;
    grid-gap: 5px;
    margin-bottom: 5px;
    /* background-color: rgba(40,40,40,.8); */
    color: rgba(255,255,255,.8);
}
#aside-der .track .datos {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
#aside-der .track h3 {
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#aside-der .track .acciones {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#aside-der .track span[class='material-icons'] {
    font-size: 24px;
}


#playlist-table {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-spacing: 0;
}

#playlist-table tr {
    padding: 0 10px;
    margin: 5px 0;
}
#playlist-table tr:not(#t-header):hover {
    background-color: rgba(255, 255, 255, .2);
}

#playlist-table .td-data {
    display: flex;
    text-align: left;
    align-items: center;
}

#playlist-table .td-data img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: blue;
}
#playlist-table .td-data .title {
    font-weight: 500;
}
#playlist-table .td-data .artists {
    font-size: 13px;
    font-weight: 300;
}